.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color1);
}
.clients__title {
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
}
.clients__item {
  margin-right: var(--card-item-gap);
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border: 1px solid var(--logo-color);
  border-radius: 4px;
  color: var(--accent-color);

  transition-property: border;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}
.client__icon {
  fill: var(--logo-color);
  transition-property: fill;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
